.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-family: 'Tahoma' , sans-serif;
        font-size: var(--def-font-size);  
        font-weight: 500;
        border-radius: 10rem;
        transition: all .2s;


        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-1.5px);
        box-shadow: var(--box-shadow-1);
    }
    &:active{
        transform: translateY(-.5px);
        box-shadow: var(--box-shadow-2);
    }
    &:focus {
        outline: none;
    }
    
    &--round{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto !important;
    }

    
    &--def {
        padding: 1.5rem 4rem;
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    // colors
    &--white {
        background-color: var(--color-white);
        color: var(--color-grey-dark-1);
    }
    &--red {
        background-color: var(--color-red);
        color: var(--color-white);
    }
    &--green{
        background-color: green;
        color: var(--color-white);
    }
    &--grey{
        background-color: var(--color-grey-dark-2);
        color: var(--color-white);
    }

    &__icon{
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor;
    }
    &--fab{
        background-color: var(--color-primary-dark);
        color: var(--color-white);
        position: absolute;
        top: 2px;
        right: 2px;
        &:hover{
            opacity: .8;
        }
        & > .btn__icon{
            width: 3rem;
            height: 3rem;
        }
    }
}