.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-family: 'Rubic' , sans-serif;
        font-size: var(--def-font-size);  
        
        transition: all .2s;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-1.5px);
        box-shadow: var(--box-shadow-1);
    }
    &:active{
        transform: translateY(-.5px);
        box-shadow: var(--box-shadow-2);
    }
    &:focus {
        outline: none;
    }
    
    &--round{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }


    &--white {
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        background-color: var(--color-white);
        color: var(--color-grey-dark-1);
    }

    &--def {
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}