:root{

    // COLORS

    --color-primary: #38508B;
    --color-primary-dark: #2c406f;
    --color-primary-light: #7384ad;

    --color-secondary:#E05F3C;

    --color-tartiary:#3CBDE0;

    --color-red:#eb2f64;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-grey-trs:rgba(51, 51, 51, .1); 

    --color-white: #fff;
    --color-black: #000;


    // FONTS
    --def-font-size: 1.6rem;
    --def-font-family: 'Tahoma';

    // BLOCKS
    --box-shadow-light: 0 1rem 2rem rgba(0,0,0,0.2);;
    --box-shadow-1: 0 .5rem 1rem rgba(0,0,0,0.4);
    --box-shadow-2: .1rem .9rem 2rem rgba(0,0,0,0.4);
}


/* GLOBAL RESET */
*{
    padding: 0;
    margin: 0;
    &,
    &::before,
    &::after{
        font-size: 62.5%;
        box-sizing: border-box;
    }
}
body{
    font-family: var(--def-font-family), sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
    user-select: none;
}
// * input{
//     auto-complete:off;
// }

.row{
    direction: rtl;
    display: flex;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    transition: all .2s;
    &__span{
        flex: 1;
    }
    &__icon{
        position: relative;
        width: 2rem;    
        height: 2rem;
        fill: currentColor;
        border-radius: 50%;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }  
    }
}