.container--settings{
    margin-top: 13rem; 
    margin-bottom: 8rem;
    background-color: var(--color-grey-light-3);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setGroup{
    margin: 1rem 5rem;
    width: 90%;
    min-width: 32rem;
    max-width: 42rem;

    direction: rtl;
    text-align: center;
    font-size: 2rem;

    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow-1);
    border-radius: 3px;
    transition: all .2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    &:hover{
        transform: translateY(-.1rem);
        background-color: var(--color-grey-light-2);
        box-shadow: var(--box-shadow-2);
        cursor: pointer;
    }
    &:active{
        transform: translateY(0);
        box-shadow: var(--box-shadow-1);
    }
    
    &__title{
        line-height: 4rem;
        width: 100%;
        padding: 1rem auto;
        background: var(--color-grey-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        & span{
            flex: 1;
            font: inherit;
            color: var(--color-primary);
            font-weight: 600;
        }
    }
    &__toggle-arrow{
        margin-left: 2rem;
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-3);
        transition: all .8s;
    }
    &__title:active > &__toggle-arrow{
        transform: rotate(-180deg);
    }

    
    &__row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: inherit;
        margin: .5rem .5rem;
        transition: all .2s;
        border-radius: 5px;
        &:hover{
            background-color:var(--color-grey-bg);
        }
    }
    &__row:hover > &__delete{
        color: var(--color-primary);
        font-weight: 600;
    }
    &__delete{
        flex: 0 0 10%;
        font-size: 1.5rem;
        border-radius: 50%;
        color: var(--color-grey-dark-3);
        transition: all .2s;
        &:hover{
            color: var(--color-red) !important;
            transform: scale(1.2);
            font-weight: 600;
        }
    }

    &__label{
        font: inherit;
        flex: 1;
        text-align: center;
    }
}
