.lead-tasks{
    width: 100%;
    font-size: 1.8rem;
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    &__section-row{
        margin: 2rem auto;
        text-align: center;
        font-size: 1.4rem;
        border-bottom: 1px solid lightgray;
        border-bottom-width: 80%;
        background-color: var(--color-grey-bg);
        color: var(--color-grey-dark-3);
        transition: all .4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
            font-size: 1.8rem;
            background-color: var(--color-grey-dark-3);
            transform: translateY(-.2rem);
            color: var(--color-white);
        }
        &:active{
            transform: translateY(0);
        }
    }
    &__section-title{
        font-size: 1.2rem;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        font: inherit;
        margin: .5rem 1rem;
        transition: all .2s;
        border-radius: 5px;        
        color: var(--color-grey-dark-1);
        &:hover{
            background-color:var(--color-grey-bg);
        }
        &--done{
            color: var(--color-grey-dark-3);
            &:hover{
                color: var(--color-grey-dark-1);
            }
        }
    }
    
    &__date{
        font-size: 1.8rem;    
        margin-left: 2rem;
    }
    
    &__text{
        font-size: 1.8rem;
        overflow-wrap: break-word;
        flex: 2; 

        // &--done{
        //     color: var(--color-grey-dark-3);
        // }
    }

    &__button{
        border-radius: 1rem;
        border: none;
        outline: none;
        font-size: 2rem;
        background: var(--color-primary-light);
        color: var(--color-white);
        flex: 0 0 10%;
        opacity: .6;
        transition: all .2s;
        
        &--done{
            background: var(--color-red);
        }
        
        &:hover{
            background: var(--color-primary);
            opacity: 1;
            cursor: pointer;
        }
    }
}
