.lead{
    margin-top: 8rem;
    
    &__cards{
        background-color: lightblue;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8rem;
        @include font-def;
    }
    &__card{
        margin: 1rem 5rem;
        width: 90%;
        min-width: 32rem;
        max-width: 42rem;
    
        direction: rtl;
        text-align: center;
        font-size: 2rem;
    
        background-color: var(--color-grey-light-1);
        box-shadow: var(--box-shadow-1);
        border-radius: 3px;
        transition: all .2s;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &:hover{
            transform: translateY(-.1rem);
            background-color: var(--color-grey-light-2);
            box-shadow: var(--box-shadow-2);
            cursor: pointer;
        }
    }

    &__card-title{
        line-height: 4rem;
        width: 100%;
        padding: 1rem auto;
        background: var(--color-grey-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        & span{
            flex: 1;
            font: inherit;
            color: var(--color-primary);
            font-weight: 600;
        }
    }
    &__card-toggle-arrow{
        margin-left: 2rem;
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-3);
        transition: all .8s;
    }
    &__card-title:active > &__card-toggle-arrow{
        transform: rotate(-180deg);
    }

}