.contact-card{
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    &__card{
        margin: 1rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow-light);
        transition: all .2s;
        padding: 1rem;
    }

    &__icon{
        width: 3rem;    
        height: 3rem;
        fill: currentColor;
        border-radius: 50%;
        &:hover{
            cursor: pointer;
            background-color: var(--color-grey-bg);
        }  
    }

    &__row{
        position: relative;
        margin: 1rem auto;
        flex: 1;
        height: 5rem;
    }


    &__input{
        @include input-border-bottom-1;
        border-radius: 15px;
        transition: all .2s;
        height: 5rem;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-light-3);
        margin: 0 auto;
        height: 100%;
        text-align: center;
        font-size: 2.2rem;
        font-family: inherit;
        outline: none;
        border: none;
    }

    &__label{
        color: var(--color-primary-light);
        position: absolute;
        font-size: 1.5rem;
        top: 0;
        right: 5%;
        opacity: .9;
    }
    
    &__role-user{
        color: var(--color-grey-dark-3);
        transition: all .2s;
        border-radius: 50%;    
    }
    
    &__role-text{
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 1rem;
        color: var(--color-primary-light);
        background-color: var(--color-grey-bg);
    }

    &__radio{
        display: none;
    }
    &__radio:checked + &__role-user{
        background-color: var(--color-primary-light);
        color: var(--color-grey-light-3);
    }
    // &__toggle{
    //     font-size: 2rem;
    //     &:hover{
    //         cursor: pointer;
    //     }

    // }

    &__input input:focus + &__label{
        opacity: .3;
    }

    &__btns{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__button{
        @include input-def;
        border-radius: 2rem;
        flex:1;
        & svg{
            width: 2rem;
            height: 2rem;
        }
        &:hover{
            cursor: pointer;
            transform: translateY(-.2rem);
            box-shadow: var(--box-shadow-light);
        }
        &:active{
            transform: translateY(0);
            box-shadow: none;

        }
    }

}