.lead-follow{
    width: 100%;
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
        
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: inherit;
        margin: .5rem 1rem;
        transition: all .2s;
        border-radius: 5px;
        &:hover{
            background-color:var(--color-grey-bg);
        }
    }
    &__last-follow{
        padding: .5rem;
        font-size: 1.4rem;    
        background-color: var(--color-grey-bg);
        color: var(--color-grey-dark-2);
        font-weight: 500;
        text-align: center;
        font-style: italic; 
        flex:1;
    }
    &__date{
        font-size: 1.8rem;    
        margin-left: 2rem;
    }
    
    &__text{
        font-size: 1.8rem;
        overflow-wrap: break-word;
        flex: 1; 
    }
}