.bottomMenu{
    direction: rtl;
    opacity: .85;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow-1);

    &:hover{
        cursor: pointer;
    }

    &__btn{
        color: var(--color-primary);
        flex: 1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .2s ease-in;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            padding: 1px;
            top:-1px;
            width: 10%;
            height: 2px;
            opacity: 0;
            visibility: hidden;
        }

        &--active{
            background-color: var(--color-grey-light-3);
            &::after{
                background-color: var(--color-primary) ;
                opacity: 1;
                width: 90%;
                right: 5%;
                visibility: visible;
            }
        }
    }
    &__icon{
        padding-top: 1rem;
        width: 5rem;
        height: 5rem;
        fill: currentColor;
    }
}