.commandList{
    &__icon{
        position: relative;
        width: 2rem;    
        height: 2rem;
        fill: currentColor;
        border-radius: 50%;
        transition: all .2s;
        &:hover{
            background-color: var(--color-grey-light-3);
            transform: scale(1.1);
            cursor: pointer;
        }  
    }
    &__list{
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateX(-95%);
        padding-top: .5rem;
        border-radius: 5px;
        background-color: #ffffffce;
        color: var(--color-grey-dark);
        box-shadow: var(--box-shadow-2);
        opacity: 0;
        z-index: 100;
        transition: all .2s ease-in;

        &--visible{
            visibility: visible;
            opacity: .85;
            backface-visibility: hidden;
        }
    }
    &__row{
        padding: 1rem 1rem;
        height: 2.5rem;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            cursor: pointer;
            opacity: 1;
            background-color: var(--color-grey-light-3);
        }

        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    
    &__item{
        font-size: 1.5rem;
        flex: 0 0 100%;
    }
    
}

