.commandList{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-95%);
    padding-top: .5rem;
    border-radius: 5px;
    background-color: #ffffffce;
    color: var(--color-grey-dark);
    box-shadow: var(--box-shadow-2);
    opacity: .85;
    z-index: 100;
    
    &__row{
        padding: 1rem 1rem;
        height: 2.5rem;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            cursor: pointer;
            opacity: 1;
            background-color: var(--color-grey-light-3);
        }

        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    
    &__item{
        font-size: 1.5rem;
        flex: 0 0 100%;
    }
    
}

