:root {
  --color-primary: #38508B;
  --color-primary-dark: #2c406f;
  --color-primary-light: #7384ad;
  --color-secondary:#E05F3C;
  --color-tartiary:#3CBDE0;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-trs:rgba(51, 51, 51, .1);
  --color-white: #fff;
  --color-black: #000;
  --def-font-size: 1.6rem;
  --def-font-family: 'Rubic';
  --box-shadow-1: 0 .5rem 1rem rgba(0,0,0,0.4);
  --box-shadow-2: .1rem .9rem 2rem rgba(0,0,0,0.4); }

* {
  padding: 0;
  margin: 0; }
  *, *::before, *::after {
    font-size: 62.5%;
    box-sizing: border-box; }

body {
  font-family: var(--def-font-family), sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-family: 'Rubic' , sans-serif;
  font-size: var(--def-font-size);
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-1); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-2); }

.btn:focus {
  outline: none; }

.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark-1); }

.btn--def {
  background-color: var(--color-primary);
  color: var(--color-white); }

.menu__check {
  display: none; }

.menu__button {
  background-color: var(--color-grey-light-1);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: var(--box-shadow-1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu__icon {
  position: relative;
  display: flex; }
  .menu__icon, .menu__icon::after, .menu__icon::before {
    height: 2px;
    width: 3rem;
    background-color: var(--color-grey-dark-2); }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .menu__icon::before {
    top: -.8rem; }
  .menu__icon::after {
    top: .8rem; }

.menu__button:hover .menu__icon::before {
  top: -1rem; }

.menu__button:hover .menu__icon::after {
  top: 1rem; }

.menu__button:hover {
  box-shadow: var(--box-shadow-2);
  transform: translateY(-0.1rem);
  cursor: pointer; }

.menu__check:checked + .menu__button .menu__icon {
  background-color: transparent; }

.menu__check:checked + .menu__button .menu__icon::before {
  top: 0;
  transform: rotate(135deg); }

.menu__check:checked + .menu__button .menu__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.sidebar {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  display: none; }
  .sidebar__row {
    position: relative; }
    .sidebar__row:not(:last-child) {
      margin-bottom: .5rem; }
  .sidebar__row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .sidebar__row:hover::before, .sidebar__row--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__row:active::before {
    background-color: var(--color-primary-light); }
  .sidebar__link:link, .sidebar__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.header {
  padding: 2rem;
  background-color: var(--color-primary-dark);
  height: 8rem;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 8rem;
  z-index: 1000;
  box-shadow: 0 5px 30px var(--color-grey-dark-3); }
  .header__title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .header__logo {
    height: 8rem; }

.form {
  max-width: 80rem;
  direction: rtl;
  padding: 3rem 2rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-1);
  border-radius: 3px;
  margin-bottom: 5rem;
  background-color: var(--color-grey-light-1);
  text-align: center; }
  .form__row:not(:last-child) {
    margin-bottom: 3rem; }
  .form__input {
    max-width: 40rem;
    color: var(--color-grey-dark-1);
    height: 5rem;
    outline: none;
    text-align: center;
    font-size: 3rem;
    height: 4rem;
    outline: none;
    border: none;
    width: 90%;
    border-bottom: 3px solid var(--color-grey-light-3);
    transition: all .2s ease-in; }
    .form__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
      font-size: 2rem; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid var(--color-primary); }
      .form__input:focus::placeholder {
        opacity: .6; }
    .form__input:invalid {
      border-bottom: 3px solid var(--color-secondary); }
  .form__input:placeholder-shown + .form__label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden; }
  .form__label {
    color: var(--color-grey-dark-1);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    transition: all .3s; }

.login {
  background-image: linear-gradient(to right bottom, var(--color-primary-light) 20%, var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .login__form {
    max-width: 50rem;
    padding-top: 5rem;
    margin: 1rem;
    font-size: 3rem;
    border-radius: 5px;
    background-color: #ffffffce;
    color: var(--color-grey-dark);
    box-shadow: var(--box-shadow-1); }
  .login__row {
    height: 5rem;
    width: 100%;
    text-align: center; }
    .login__row:not(:last-child) {
      margin-bottom: 2rem; }
  .login__input {
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    height: 4rem;
    outline: none;
    border: none;
    width: 90%;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in; }
    .login__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
      font-size: 2rem; }
    .login__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--color-grey-trs);
      border-bottom: 3px solid var(--color-primary); }
      .login__input:focus:invalid {
        border-bottom: 3px solid var(--color-secondary); }
  .login__input:placeholder-shown + .login__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .login__label {
    color: var(--color-grey-dark-1);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .login .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.container {
  margin-top: 8rem; }

.addLead {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey-light-3); }
  .addLead__form:first-child {
    margin-top: 5rem; }
