:root {
  --color-primary: #38508B;
  --color-primary-dark: #2c406f;
  --color-primary-light: #7384ad;
  --color-secondary:#E05F3C;
  --color-tartiary:#3CBDE0;
  --color-red:#eb2f64;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-trs:rgba(51, 51, 51, .1);
  --color-white: #fff;
  --color-black: #000;
  --def-font-size: 1.6rem;
  --def-font-family: 'Tahoma';
  --box-shadow-light: 0 1rem 2rem rgba(0,0,0,0.2);
  --box-shadow-1: 0 .5rem 1rem rgba(0,0,0,0.4);
  --box-shadow-2: .1rem .9rem 2rem rgba(0,0,0,0.4); }

/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0; }
  *, *::before, *::after {
    font-size: 62.5%;
    box-sizing: border-box; }

body {
  font-family: var(--def-font-family), sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  user-select: none; }

.row {
  direction: rtl;
  display: flex;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  transition: all .2s; }
  .row__span {
    flex: 1; }
  .row__icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    border-radius: 50%; }
    .row__icon:hover {
      cursor: pointer; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Rubic' , sans-serif;
  font-size: var(--def-font-size);
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-1.5px);
  box-shadow: var(--box-shadow-1); }

.btn:active {
  transform: translateY(-0.5px);
  box-shadow: var(--box-shadow-2); }

.btn:focus {
  outline: none; }

.btn--round {
  border-radius: 50%;
  width: 2rem;
  height: 2rem; }

.btn--white {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  background-color: var(--color-white);
  color: var(--color-grey-dark-1); }

.btn--def {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  background-color: var(--color-primary);
  color: var(--color-white); }

.heading {
  display: flex;
  align-items: center;
  height: 5rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--color-primary); }
  .heading__secondary {
    flex: 1;
    font-size: 2.5rem;
    font-family: Tahoma;
    margin-bottom: 1rem; }
  .heading__icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
    opacity: .6;
    transition: all .2s; }
    .heading__icon:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.1); }

@keyframes highlight {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.fade-in {
  animation: fade-in .5s ease-in; }

@keyframes fade-in {
  0% {
    transform: translateX(-60%);
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-out {
  animation: fade-out .4s ease-out; }

@keyframes fade-out {
  0% {
    transform: translateX(0%);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.filterBar {
  position: fixed;
  z-index: 100;
  top: 8rem;
  width: 100vw;
  right: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1rem 1rem .5rem 1rem;
  text-align: center;
  opacity: .9;
  background-color: var(--color-primary-dark); }
  .filterBar__card {
    border-top: 1.5px solid var(--color-primary);
    border-radius: 10px 15px 0 0;
    line-height: 3rem;
    align-self: center;
    position: relative;
    flex: 1;
    font-size: var(--def-font-size);
    color: var(--color-grey-dark-3); }
    .filterBar__card::after {
      content: "";
      position: absolute;
      padding: 1px;
      text-align: center;
      bottom: -1px;
      background-color: var(--color-primary-light);
      width: 90%;
      right: 5%;
      height: 2px;
      opacity: 0;
      transition: all .2s ease-in; }
    .filterBar__card:hover {
      transform: translateY(-0.1rem);
      cursor: pointer; }
      .filterBar__card:hover::after {
        opacity: 1;
        width: 60%;
        right: 20%; }
    .filterBar__card--active {
      color: var(--color-grey-light-1);
      font-weight: 500; }
      .filterBar__card--active::after {
        background-color: var(--color-grey-light-1) !important;
        opacity: 1 !important; }
      .filterBar__card--active:hover {
        transform: none !important;
        cursor: context-menu !important; }
        .filterBar__card--active:hover::after {
          width: 90% !important;
          right: 5% !important; }
  .filterBar__card-counter {
    font-size: 1.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-red);
    color: #fff;
    position: absolute;
    top: -.9rem;
    left: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .filterBar__card-counter--done {
      font-weight: 600;
      background-color: white;
      color: green; }

.bottomMenu {
  direction: rtl;
  opacity: .85;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-1); }
  .bottomMenu:hover {
    cursor: pointer; }
  .bottomMenu__btn {
    color: var(--color-primary);
    flex: 1;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in;
    position: relative; }
    .bottomMenu__btn::after {
      content: "";
      position: absolute;
      padding: 1px;
      top: -1px;
      width: 10%;
      height: 2px;
      opacity: 0;
      visibility: hidden; }
    .bottomMenu__btn--active {
      background-color: var(--color-grey-light-3); }
      .bottomMenu__btn--active::after {
        background-color: var(--color-primary);
        opacity: 1;
        width: 90%;
        right: 5%;
        visibility: visible; }
  .bottomMenu__icon {
    padding-top: 1rem;
    width: 5rem;
    height: 5rem;
    fill: currentColor; }

.filterGroup {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 2rem; }
  .filterGroup__item {
    position: relative;
    outline: none;
    border: none;
    line-height: 3rem;
    border-radius: 5px;
    color: var(--color-grey-dark-3);
    background: none;
    flex: 1;
    border-radius: 10px 15px 0 0;
    transition: all .2s ease-in; }
    .filterGroup__item::after {
      content: "";
      position: absolute;
      padding: 1px;
      text-align: center;
      bottom: -1px;
      background-color: var(--color-primary-light);
      width: 90%;
      right: 5%;
      height: 1.5px;
      opacity: 0;
      transition: all .2s ease-in; }
    .filterGroup__item:hover {
      cursor: pointer;
      transform: translateY(-0.1rem); }
      .filterGroup__item:hover::after {
        opacity: 1;
        width: 60%;
        right: 20%; }
    .filterGroup__item--active {
      background-color: var(--color-grey-light-3) !important;
      color: var(--color-primary-light) !important;
      font-weight: 600; }
      .filterGroup__item--active::after {
        background-color: var(--color-primary) !important;
        opacity: 1 !important; }
      .filterGroup__item--active:hover {
        transform: none !important;
        cursor: context-menu !important; }
        .filterGroup__item--active:hover::after {
          width: 90% !important;
          right: 5% !important; }

.searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-grey-dark-3); }
  .searchBox__input {
    text-align: center;
    font-size: 3rem;
    font-family: inherit;
    border: none;
    outline: none;
    width: 100%;
    line-height: 4rem;
    transition: all .2s ease-in;
    border-bottom: 3px solid var(--color-grey-light-3);
    border-bottom-width: 90%; }
    .searchBox__input::placeholder {
      color: var(--color-grey-dark-3) !important;
      font-size: 2rem;
      font-family: inherit; }
    .searchBox__input:focus::placeholder {
      opacity: .6; }
    .searchBox__input:focus {
      border-bottom-width: 100%;
      border-bottom: 3px solid var(--color-primary); }
      .searchBox__input:focus:invalid {
        border-bottom: 3px solid var(--color-secondary); }
  .searchBox__icon {
    fill: currentColor;
    position: absolute;
    left: 2%;
    top: 20%;
    width: 3rem;
    height: 3rem; }
  .searchBox__input:focus + .searchBox__icon {
    display: none; }

.searchList {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  padding-top: .5rem;
  border-radius: 5px;
  background-color: #ffffffce;
  color: var(--color-grey-dark);
  box-shadow: var(--box-shadow-2);
  opacity: .85;
  z-index: 100; }
  .searchList__row {
    height: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .searchList__row--active {
      background-color: var(--color-grey-light-3); }
      .searchList__row--active > .searchList__row--active__select {
        transform: scale(1.1);
        fill: var(--color-primary); }
    .searchList__row:hover, .searchList__row:focus {
      cursor: pointer;
      background-color: var(--color-grey-light-3); }
    .searchList__row:not(:last-child) {
      margin-bottom: .5rem; }
  .searchList__item {
    font-size: 1.5rem;
    flex: 1; }
  .searchList__select {
    border-radius: 50%;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    transition: all .2s; }
  .searchList__row:hover > .searchList__select,
  .searchList__row:focus > .searchList__select {
    fill: var(--color-primary);
    transform: scale(1.1); }

.commandList__icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  fill: currentColor;
  border-radius: 50%;
  transition: all .2s; }
  .commandList__icon:hover {
    background-color: var(--color-grey-light-3);
    cursor: pointer; }

.commandList__list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-95%);
  padding-top: .5rem;
  border-radius: 5px;
  background-color: #ffffffce;
  color: var(--color-grey-dark);
  box-shadow: var(--box-shadow-2);
  opacity: 0;
  z-index: 100;
  transition: all .2s ease-in; }
  .commandList__list--visible {
    visibility: visible;
    opacity: .85;
    backface-visibility: hidden; }

.commandList__row {
  padding: 1rem 1rem;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .commandList__row:hover {
    cursor: pointer;
    opacity: 1;
    background-color: var(--color-grey-light-3); }
  .commandList__row:not(:last-child) {
    margin-bottom: .5rem; }

.commandList__item {
  font-size: 1.5rem;
  flex: 0 0 100%; }

.scrollTop {
  display: none;
  position: fixed;
  top: 13rem;
  right: 0;
  color: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all .2s;
  box-shadow: var(--box-shadow-light);
  text-align: center;
  animation: 1s shake; }
  .scrollTop:hover {
    cursor: pointer;
    transform: translateY(-0.3rem); }
  .scrollTop:active {
    transform: translateY(0); }
  .scrollTop__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--color-grey-dark-3); }

.menu {
  position: relative; }
  .menu__check {
    display: none; }
  .menu__button {
    background-color: var(--color-grey-light-1);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: var(--box-shadow-1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu__icon {
    position: relative;
    display: flex; }
    .menu__icon, .menu__icon::after, .menu__icon::before {
      height: 2px;
      width: 3rem;
      background-color: var(--color-grey-dark-2); }
    .menu__icon::before, .menu__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .menu__icon::before {
      top: -.8rem; }
    .menu__icon::after {
      top: .8rem; }
  .menu__button:hover .menu__icon::before {
    top: -1rem; }
  .menu__button:hover .menu__icon::after {
    top: 1rem; }
  .menu__button:hover {
    box-shadow: var(--box-shadow-2);
    transform: translateY(-0.1rem);
    cursor: pointer; }
  .menu__check:checked + .menu__button .menu__icon {
    background-color: transparent; }
  .menu__check:checked + .menu__button .menu__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .menu__check:checked + .menu__button .menu__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.sidebar {
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 20rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow-1);
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  opacity: 0;
  visibility: hidden;
  background: var(--color-grey-light-1);
  transition: all .2s ease-in; }
  .sidebar--show {
    opacity: .82;
    visibility: visible; }
  .sidebar__row {
    position: relative; }
    .sidebar__row:not(:last-child) {
      margin-bottom: .5rem; }
  .sidebar__link:link, .sidebar__link:visited {
    color: var(--color-primary);
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
    line-height: 4rem;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .1s; }
    .sidebar__link:link:hover, .sidebar__link:visited:hover {
      background-color: var(--color-grey-light-3);
      transform: scale(1.01); }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.header {
  padding: 2rem;
  background-color: var(--color-primary-dark);
  height: 8rem;
  opacity: .9;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 8rem;
  z-index: 1000; }
  .header__title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .header__logo {
    height: 8rem; }

.form {
  direction: rtl;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 32rem;
  width: 90%;
  max-width: 42rem;
  padding: 1rem 1rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-1);
  border-radius: 3px;
  background-color: var(--color-grey-light-1);
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 2rem; }
  .form__row {
    width: 100%; }
    .form__row:not(:last-child) {
      margin-bottom: 2rem; }
  .form__input {
    width: 90%;
    color: var(--color-grey-dark-1);
    height: 5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: 2.2rem;
    font-family: inherit;
    border-bottom: 3px solid var(--color-grey-light-3);
    transition: all .2s ease-in; }
    .form__input::placeholder {
      color: var(--color-grey-dark-3) !important;
      font-size: inherit;
      font-family: inherit; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid var(--color-primary); }
      .form__input:focus::placeholder {
        opacity: .6; }
      .form__input:focus:invalid {
        border-bottom: 3px solid var(--color-secondary); }
  .form__input:placeholder-shown + .form__label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden; }
  .form__label {
    color: var(--color-grey-dark-1);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    transition: all .3s; }
  .form__row input[type="date"] {
    color: var(--color-grey-dark-3) !important;
    font-family: inherit !important;
    font-size: 2rem !important; }
    .form__row input[type="date"]::placeholder {
      color: var(--color-grey-dark-3) !important;
      font-size: inherit;
      font-family: inherit; }
  .form__select-group {
    display: flex;
    justify-content: space-between;
    font-size: 3rem; }
  .form__select-item {
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--color-grey-dark-3);
    background: none;
    flex: 1; }
    .form__select-item--active {
      background: var(--color-grey-light-3); }

.login {
  background-image: linear-gradient(to right bottom, var(--color-primary-light) 20%, var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .login__form {
    max-width: 50rem;
    padding-top: 5rem;
    margin: 1rem;
    font-size: 3rem;
    border-radius: 5px;
    background-color: #ffffffce;
    color: var(--color-grey-dark);
    box-shadow: var(--box-shadow-1); }
  .login__row {
    height: 5rem;
    width: 100%;
    text-align: center; }
    .login__row:not(:last-child) {
      margin-bottom: 2rem; }
  .login__input {
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    height: 4rem;
    outline: none;
    border: none;
    width: 90%;
    border-bottom: 3px solid transparent;
    transition: all .2s ease-in; }
    .login__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
      font-size: 2rem; }
    .login__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--color-grey-trs);
      border-bottom: 3px solid var(--color-primary); }
      .login__input:focus:invalid {
        border-bottom: 3px solid var(--color-secondary); }
  .login__input:placeholder-shown + .login__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .login__label {
    color: var(--color-grey-dark-1);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .login .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }

.container--addLead {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.container--myLeads {
  margin-top: 13rem;
  background-color: var(--color-grey-light-3);
  margin-bottom: 8rem;
  height: 100vh; }

.myLeads {
  margin: 0 auto;
  min-width: 360px; }

.leads {
  margin-top: 3rem;
  direction: rtl;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .leads--empty {
    height: 10rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .leads--empty::after {
      font-size: 1.6rem;
      content: attr(data-empty);
      color: var(--color-primary); }
  .leads__heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
    align-content: center; }
  .leads__row {
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
    background-color: var(--color-white);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0 auto;
    transition: all .15s ease-in-out; }
    .leads__row:hover {
      transform: translateY(-0.1rem);
      background-color: var(--color-grey-light-2);
      box-shadow: var(--box-shadow-2);
      cursor: pointer; }
    .leads__row:active {
      transform: translateY(0);
      box-shadow: var(--box-shadow-1); }
  .leads__cell {
    padding: 1rem; }
  .leads__title {
    display: flex;
    flex-direction: column; }
  .leads__name {
    font-weight: 500;
    font-size: 1.8rem !important; }
  .leads__desc, .leads__type {
    font-size: 1.4rem  !important; }

.container--search {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: var(--color-grey-light-3);
  height: 100vh; }

.mySearch {
  margin: 0 auto;
  min-width: 360px; }

.container--settings {
  margin-top: 13rem;
  margin-bottom: 8rem;
  background-color: var(--color-grey-light-3);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.setGroup {
  padding: 1rem 1rem;
  margin: 1rem 5rem;
  width: 90%;
  min-width: 32rem;
  max-width: 42rem;
  direction: rtl;
  text-align: center;
  font-size: 2rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-1);
  border-radius: 3px;
  transition: all .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .setGroup:hover {
    transform: translateY(-0.1rem);
    background-color: var(--color-grey-light-2);
    box-shadow: var(--box-shadow-2);
    cursor: pointer; }
  .setGroup:active {
    transform: translateY(0);
    box-shadow: var(--box-shadow-1); }
  .setGroup__title {
    font: inherit; }
  .setGroup__row {
    width: 100%;
    font: inherit;
    margin: 1rem auto; }
  .setGroup__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .setGroup__form-input {
      width: 90%;
      height: 5rem;
      text-align: center;
      font-size: 2.2rem;
      font-family: inherit;
      color: var(--color-grey-dark-1);
      outline: none;
      border: none;
      border-bottom: 3px solid var(--color-grey-light-3);
      border-bottom-width: 90%; }
      .setGroup__form-input:focus {
        border-bottom-width: 100%;
        border-bottom: 3px solid var(--color-primary); }
        .setGroup__form-input:focus:invalid {
          border-bottom: 3px solid var(--color-secondary); }
      .setGroup__form-input::placeholder {
        color: var(--color-grey-dark-3) !important;
        font-size: 2rem;
        font-family: inherit; }
      .setGroup__form-input:focus::placeholder {
        opacity: .6; }
    .setGroup__form-icon {
      width: 3rem;
      height: 3rem;
      fill: currentColor;
      outline: none;
      border: none;
      border-radius: 50%; }
