.form{
    max-width: 80rem;
    direction: rtl;
    padding: 3rem 2rem;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow-1);
    border-radius: 3px;
    margin-bottom: 1rem;
    background-color: var(--color-grey-light-1);
    text-align: center;
    
    &__row{
        &:not(:last-child){
            margin-bottom: 3rem;
        }
    }

    &__input {
        max-width: 40rem;
        color: var(--color-grey-dark-1);
        height: 5rem;
        outline: none;
        text-align: center;
        font-size: 3rem;
        height: 4rem;
        outline: none;
        border: none;
        width: 90%;
        border-bottom: 3px solid var(--color-grey-light-3);
        transition: all .2s ease-in;

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-3) !important;
            font-size: 2rem;
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid var(--color-primary);
            &::placeholder{
            opacity: .6;
            }
            &:invalid {
                border-bottom: 3px solid var(--color-secondary);
            }
        }
    }

    &__input:placeholder-shown + &__label {
        transform: translateY(-4rem);
        opacity: 0;
        visibility: hidden;
    }

    &__label {
        color:var(--color-grey-dark-1);
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        display: block;
        transition: all .3s;
    }

    input[type="date"]{
        color:var(--color-grey-dark-3) !important;
        font-family: inherit;
        font-size: 2rem;
    }

    &__select-group{
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        // box-shadow: var(--box-shadow-1);
    }
    &__select-item{
        outline: none;
        border: none;
        border-radius: 5px;
        color: var(--color-grey-dark-3);
        flex:1;
        
        &--active{
            background: var(--color-grey-light-3);
        }
    }


}